

.jumbotron {
    background-image: url("../images/skyline5.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}

#bio-pic {
    border-radius: 360px;
}

#about-container {
    display: none;
}

#penn-container {
    display: none;
}

#connect-container {
    display: none;
}

#portfolio-container {
    display: none;
}

.shadow-text {
    text-shadow: 2px 2px black;
}

.card-img-top {
    height: 300px;
}

.card-img-top .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}